.nafbar-kelaz {
    transition: ease-out 10ms;
    border-bottom: 2px solid rgba(237, 132, 12, 0);
}

.nafbar-kelaz:hover {
    transition: ease-in 10ms;
    border-bottom: 2px solid #ab9985;
}

.buton {
    background-color: #a59e8d
}

.yoi {
    transform: rotate(360deg);
}

.yoi:hover {
    transform: rotate(360deg);
}

.buton:hover {
    background-color: #e6be5f
}